body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
h1{ 
    color: #767676;
    font-size: 55px;
    font-weight: 100px;
    line-height: 28.9px;
    margin-bottom: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding:0;
    color: rgb(98, 102, 106);
    font-size: 16px;
    font-weight: 100px;
    line-height: 19px;
}
li:first-letter {
 text-transform: capitalize;
}


.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    filter: drop-shadow(3px 3px 3px #837a8b);
  background-image: url("https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-size: cover;
}

.overview {
    margin-bottom: 20px;
}
.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    color: rgb(98, 102, 106);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .units {
    position: relative;
    font-size: 20px;
    top: -34px;
    color: rgb(98, 102, 106);
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: rgb(98, 102, 106);
    background-color: #dadde15f;
    border-radius: 8px;
    padding: 10px;
}

.weather-forecast-date {
    font-size: 16px;
    font-weight: bold;
    opacity: 0.8;
    color: rgb(82, 84, 85);
}

.weather-forecast-temperature {
    font-size: 13px;
}

.weather-forecast-temperature-min {
    opacity: 0.55;
}